{% extends 'base.nav.left.html.twig' %}

{#      the view title      #}
{% block title controller_name %}

{#      The view style sheet    #}
{% block stylesheets %}
    article br{
    margin-top:1rem;
    }
{% endblock %}


{#      the title h1 of the view   #}
{% block h1 "Hello "~ controller_name %}


{#      Block body of the view   #}
{% block navigationLeft %}
    <nav class="sticky-top navbar navbar-dark">
        <ul>
            <li>
                <a href="" class="btn">
                    <i class="fa fa-edit"></i> Edit
                </a>
            </li>
            <li>
                <a href="" class="btn">
                    <i class="fa fa-trash"></i> Delete
                </a>
            </li>
            <li>
                <a href="" class="btn">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> New
                </a>
            </li>
            <li>
                <a href="" class="btn">
                    <i class="fa fa-comment"></i> New comment
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h2>Product : {% if product.id > 0 %}Edit {{ product.name }}{% else %}New{% endif %}</h2>

    <div class="container m-2 pb-5 bg-white">

        {{ form_start(form) }}
        <div class="my-custom-class-for-errors {% if form_errors(form) %}alert alert-danger {% endif %}">
            {{ form_errors(form) }}
        </div>

        <div class="row">

            <div class="col-6">

                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}

                <small>{{ form_help(form.name) }}</small>

                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="col-6">
                {{ form_label(form.published) }}
                {{ form_widget(form.published) }}

                <small>{{ form_help(form.published) }}</small>

                <div class="form-error">
                    {{ form_errors(form.published) }}
                </div>
            </div>
            <div class="col-4">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}

                <small>{{ form_help(form.price) }}</small>

                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>
            <div class="col-4">
                {{ form_row(form.storedValue) }}
            </div>
            <div class="col-4">
                {{ form_row(form.storedAlarm) }}
            </div>
            <div class="col-6">
                {{ form_row(form.description) }}
            </div>
            <div class="col-6">
                <div class="form-group">
                        {{ form_widget(form.images) }}
                        <br/><small>{{ form_help(form.images) }}</small>
                        <div id="listNewFiles"></div>
                        <div class="form-error">
                            {{ form_errors(form.images) }}
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-dark">{% if product.id > 0 %}Update{{ product.name }}{% else %}Add{% endif %} product</button>
    </div>

    {{ form_end(form) }}
    </div>

{% endblock %}
{#      End block body of the view   #}



{#      The view JavaScript    #}
{#<script>#}
{% block javascripts %}

{% endblock %}
{#</script>#}

